@bg-color: #0a0a0c;
@bg-color-transparent: rgba(0,0,0,0.3);
@bg-color-transparent-hover: rgba(0,0,0,0.5);
@title-color-main: #fff;
@title-color-second: #9a8655;
@text-color-main: #fff;
@text-color-second: #a6a5a7;
@text-color-third: #c4b999;

@theme-color-main: #8d6d2d;
@theme-color-second: #423727;
@theme-color-third: #423727;

@nav-bg-color: rgba(38,48,57,0.8);
@nav-color: #54718c;

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../images/ashe_splash.jpg');
  height: 100%;
  align-items: center;
}

.input-summoner {
  position: relative;
  display: flex;
  align-items: stretch;
  border: 1px solid @theme-color-second;
  transition: ease-in-out 0.2s ease-in-out;
}

.input-summoner-input {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  height: 60px;
  background: @bg-color-transparent;
  border: none;
  color: @text-color-second;
  transition: all 0.2s ease-in-out;
}

.input-summoner-input::placeholder {
  color: @text-color-second;
}

.input-summoner-append {
  display: flex;
  align-items: center;
}

.input-summoner-btn-region, .input-summoner-btn-submit {
  padding: 0.5rem 0.75rem;
  font-size: 1.5rem;
  height: 60px;
  background: @bg-color-transparent;
  border: none;
  color: @text-color-second;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.input-summoner-input:hover, .input-summoner-btn-region:hover, .input-summoner-btn-submit:hover {
  background: @bg-color-transparent-hover;
}

.input-summoner-btn-region {
  border-left: none;
}

.input-summoner-btn-submit {
  border-left: 1px solid @theme-color-second;
}

.border-focus {
  border-color: @theme-color-main;
}
